<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.mapper.UnitMapper">

  <select id="findAllUnit" resultType="com.young.pojo.Unit">
    select * from unit
  </select>
</mapper>